.endScreen {
    display: none;
}

#realStartButton {
    display: none;
}

canvas {
    display: none;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

.gameOverScreen {
    display: none;
}