.endScreen, #submitButton, .btn-group, #realStartButton, canvas, .gameOverScreen, #duckVid     {
    display: none;
}



.btn-group {
    float: right;
}

.border {
    background-color: rgb(163, 160, 160);
}
canvas {
    display: none;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    
}
.correctAnswer {
    background-color: rgb(79, 185, 79);
}

.wrongAnswer {
    background-color: rgb(209, 91, 91);
}

#duckVid {
    margin-left: auto;
    margin-right: auto;
}