.endScreen {
    display: none;
}

#submitButton {
    display: none;
}

#realStartButton {
    display: none;
}

.border {
    background-color: rgb(163, 160, 160);
}
canvas {
    display: none;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    
}

.gameOverScreen {
    display: none;
}

.correctAnswer {
    background-color: rgb(79, 185, 79);
}

.wrongAnswer {
    background-color: rgb(209, 91, 91);
}